@model Biblioteka.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@if (ViewBag.Message != null)
{
    <script>

$(document).ready(function(){

alert('@ViewBag.Message');

});

    </script>

}
<div class="row justify-content-md-start">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Witaj
            </div>
            <div class="card-body">
                @if (Session["idUser"] != null)
                {
                    <div class="row justify-content-md-center">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    Zmiana hasła
                                </div>
                                <div class="card-body">
                                    @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            @Html.Label("Stare hasło")
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Stare hasło" })

                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Nowe hasło")
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Nowe hasło" })
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" name="submit" class="btn btn-primary" value="Potwierdź" />
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                }
                @if (Session["Role"].ToString() != "Admin                                   ")
                {
                    <div class="row justify-content-md-center">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    Usuń konto
                                </div>
                                <div class="card-body">
                                    @using (Html.BeginForm("DeleteAccount", "Users", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            <input type="submit" name="submit" class="btn btn-primary" value="Potwierdź" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
