@using Biblioteka.Helper
<script>
    $("nav.li").On("Click", function (){
        $("nav.li").removeClass("active");
        $(this).addClass("active");
    })
</script>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav class="navbar nav-tabs navbar-expand-sm navbar-toggleable-sm navbar-light bg-gradient border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">Biblioteka Szkolenie Techniczne 3 (projekt)</a>
                <ul class="nav nav-pills mb-3">
                    @if (Session["idUser"] != null)
                    {
                        <li class="navbar-brand">
                            Witaj: @Session["Name"].ToString()
                        </li>
                    }
                    @if (Session["idUser"] == null)
                    {
                        <li class="nav-item @Html.IsSelected(actions: "Login", controllers: "Users")">
                            @Html.ActionLink("Zaloguj", "Login", "Users", new { area = "" }, new { @class = "navbar-brand" })
                        </li>
                        <li class="nav-item @Html.IsSelected(actions: "Register", controllers: "Users")">
                            @Html.ActionLink("Zarejestruj", "Register", "Users", new { area = "" }, new { @class = "navbar-brand" })
                        </li>
                    }
                    @if (Session["idUser"] != null)
                    {
                        if (Session["Role"].ToString() == "User                                    ")
                        {

                            <li class="nav-item @Html.IsSelected(actions: "Index", controllers: "Users")">
                                @Html.ActionLink("Home", "Index", "Users", new { area = "" }, new { @class = "navbar-brand" })
                            </li>
                            <li class="nav-item @Html.IsSelected(actions: "Index", controllers: "Books")">
                                @Html.ActionLink("Wypożycz", "Index", "Books", new { area = "" }, new { @class = "navbar-brand" })
                            </li>
                            <li class="nav-item @Html.IsSelected(actions: "Index", controllers: "Loans")">
                                @Html.ActionLink("Moje wypozyczenia", "Index", "Loans", new { area = "" }, new { @class = "navbar-brand" })
                            </li>
                        }
                        if (Session["Role"].ToString() == "Admin                                   ")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle @Html.IsSelected(actions: "", controllers: "")" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Zażądzaj książkami</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="@Url.Action("Index", "Books")">Przeglądaj</a>
                                    <a class="dropdown-item" href="@Url.Action("Add", "Books")">Dodaj</a>
                                </div>
                            </li>
                        }
                        <li class="@Html.IsSelected(actions: "Logout", controllers: "Users")">
                            @Html.ActionLink("Wyloguj", "Logout", "Users", new { area = "" }, new { @class = "navbar-brand" })
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Biblioteka Szkolenie Techniczne 3 (projekt) @Html.ActionLink("Home", "Index", "Users")
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
