@model Biblioteka.Models.Book
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@if (ViewBag.Message != null)
{
    <script>

$(document).ready(function(){

alert('@ViewBag.Message');

});

    </script>

}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Edytowanie książki
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Edit", "Books", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.Label("Nazwa")
                        @Html.TextBoxFor(x => x.Name, "", new { @class = "form-control", @placeholder = @Model.Name })

                    </div>
                    <div class="form-group">
                        @Html.Label("Autor")
                        @Html.TextBoxFor(x => x.Author, new { @class = "form-control", @placeholder = @Model.Author })
                    </div>
                    <div class="form-group">
                        @Html.Label("Ilość stron")
                        @Html.TextBoxFor(x => x.NuberOfPages, "", new { @class = "form-control", @placeholder = @Model.NuberOfPages })

                    </div>
                    <div class="form-group">
                        @Html.Label("Ilośc egemplarzy")
                        @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", @placeholder = @Model.Quantity })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Edytuj" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

